*{
    padding: 0;
    margin: 0;
}

html{
    font-size: 1rem;
}

body{
    background-color: #F0F0F0;
}

span {
    margin: 0px;
}

hr {
    color: #e6e6e6;
    background-color: #e6e6e6;
    height: 1px;
    margin: 2em;
}

h1, h2, h4, h5, .btn{
    font-family: 'Anton', sans-serif;
}

p, body{
    font-family: 'Abel', sans-serif;
}

h1{
    font-size: 64px;
    margin: 1em;
}

h5{
    font-size: 28px;
    padding: .3em;
}
.navbar{
    height: 60px;
    margin-top: 45px;
}

.navbar-brand{
    font-size: 35px;
    margin-left: 10px;
}

.nav-link{
    margin: 10px;
}

.navbar-nav{
    margin-left: 300px;
}

.logo-image{
    height: 120px;
    width: 120px;
    margin-left: 125px;
}

.b-margin {
    margin-left: 80px;
}

.selectedwork{
    margin-left: 1em;
    margin-bottom: 2em;
}


.first-heading{
    font-size: 48px;
    margin-bottom: 1em;
}

.btn-circle.btn-xl {
    width: 105px;
    height: 105px;
    margin: .3em;
    /*padding: 10px 16px;*/
    border-radius: 55px;
    font-size: 1.2rem;
    /*font-weight: bold;*/
    color: white;
    line-height: 1.33;
    border: 5px solid white;
}
.btn-circle {
    width: 18px;
    height: 18px;
    border-radius: 50px;
    text-align: center;
    font-size: 8px;
    /*line-height: 1.42857;*/
}

.first-button{
    background-color: #E6563B;
    border-radius: 50px;
    border: none;
}

.second-button{
    background-color: #EB9D3A;
    border-radius: 50px;
    border: none;
}

.third-button{
    background-color: #7CB06C;
    border-radius: 50px;
    border: none;
}

.fourth-button{
    background-color: #00ABA9;
    border-radius: 50px;
    border: none;
}
.img-thumbnail {
    max-height: 200px;
    background-color: #e6e6e6;
}

.icons{
    display: flex;
    align-items: center;
}

.icons-sizing{
    height: 65px;
    width: 65px;
    border: 3px solid #e6e6e6;
}

.tweet{
    margin-top: 3em;
}

.icons-xs{
    height: 25px;
    width: 25px;
    margin-right: .8em;
    margin-bottom: .3em;
}

h6{
    font-weight: bold;
}

.tweet-lorem{
    margin-top: .8em;
}

/* sm and xs screen */

@media screen and (max-width: 576px) {
    .img-thumbnail {
        width: 100%;
    }

    .select-work-cent {
        text-align: center;
    }
    .first-button {
        margin-left: 100px;
    }
    .btn-xl-red {
        float: right;
    }
    .btn-xl-orange {
        float: left;
    }
    .btn-xl-green {
        float: right;
    }
    div.col {
        padding: 0px;
    }
    h1 {
    font-size: 32px;
    }
    .first-heading {
        font-size: 28px;
    }

}

/* med screen */

@media screen and (max-width: 768px) {


    .navbar{
        height: 50px;
        margin-top: 5px;
    }

    ul{
        display: inline;
    }

    .navbar-brand{
        font-size: 35px;
        margin-left: 0px;
    }

    .nav-link{
        margin: 0px;
        flex-direction: row-reverse;
    }

    .navbar-nav{
        margin-left: 0px;
    }

    .logo-image{
        height: 50px;
        width: 50px;
        margin-left: 25px;
    }


    h5{
        font-size: 18px;
        margin-bottom: 25px;
    }

    .icons-sizing{
        height: 50px;
        width: 50px;
        margin-bottom: 25px;
    }

    .icons-xs{
        height: 18px;
        width: 18px;
    }

    p, h6, figcaption{
        font-size: 12px;
    }

    span.b-margin {
        margin: 0px;
        padding: 0px;
        margin-left: 30px;
    }

    .tweet-lorem {
        margin-top: 0;
    }
    div.icons.mb-5 {
        margin:0px;
    }
}

    /* Big Screen */
@media screen and (min-width: 992px){
    .tweet-move {
        margin-top: 50px;
    }
}






